* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

#side-menu {
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#nome-evento+img {
    width: 100%;

}

#nome-evento {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 68px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A34 100%);
}

#nome-evento h1 {
    color: #FFFFFF;
    font-weight: 700;
    line-height: 35px;
    font-size: 30px;
    text-align: center;

}

#lista-menu {
    list-style: none;
}

#lista-menu li {
    cursor: pointer;
    width: 100%;
    color: #725C5C;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    border: solid 1px #E7E7E7;
    padding-bottom: 10px;
    padding-top: 10px;
}

#lista-menu li:hover {
    background-color: #FDF1EB;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 220px);
    height: 68px;
    background-color: #FDF1EB;
    overflow: hidden;
}

#textHeader p {
    font-size: 14px;
}

#textHeader span {
    font-size: 22px;
    font-weight: 400;
}

#textHeader {
    display: inline-block;
    color: #725C5C;
}

#containerHeader {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#userInfo {
    color: #333333;
}

#textHeader~select {
    cursor: pointer;
    padding: 5px;
    border: solid 1px black;
    background-color: #FDF1EB;
    border-radius: 5px;
    color: #333333;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.footer-container {
    height: 181px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerLogo {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 20px;
}

.footerLogo input {
    cursor: pointer;
    background-color: #3e2355;
    border: none;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
}

.footerLogo~p {
    text-align: justify;
}

.footerLogo~p::first-line {
    font-weight: bold;
}

.main-container {
    position: relative;
    float: right;
    top: 68px;
    width: calc(100% - 225px);
    height: 100%;
    /* height: calc(100vh - 220px); */
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
}

#iframe-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

iframe {
    width: 95%;
    /* width: calc(560px / 1); */
    height: 315px;
    border-radius: 3px;
    margin-top: 20px;
}

.half-container {
    /* height: 50%; */
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

.half-container h1 {
    width: 95%;
    color: #ED7839;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    display: inline-block;
    margin-top: 20px;
}

.right-side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn-container button {
    background-color: #ED7839;
    border-radius: 5px;
    padding: 10px;
    color: #FFFFFF;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
}

.btn-container button span {
    color: #ED7839;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 4px;
}

.btn-container~span {
    font-size: 14px;
    color: #ED7839;
    letter-spacing: .05em;
    text-align: right;
    font-weight: 750;
    line-height: 25px;
    width: 15em;
    margin: 5px;
}

#downBtn::before {
    content: "\2B07";
}

#starBtn::before {
    content: "\2605";
}

.right-square-container {
    height: 315px;
    width: 15em;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
    overflow: auto;
}

.right-square-container p {
    height: 45px;
    width: 100%;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #4E4E4E;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.list-detail ul li {
    list-style: none;
    padding-left: 15px;
    color: #5C5C5C;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: .02em;
    padding-bottom: 5px;
}

.list-detail ul li span {
    font-weight: 600;
}

.debate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.standard-square {
    margin-top: 30px;
    width: 95%;
    border: 1px solid #ECECEC;
    border-radius: 3px;
}

.standard-square h1 {
    color: #4E4E4E;
    background-color: #FDF1EB;
    border: 1px solid #ECECEC;
    border-radius: 3px 3px 0px 0px;
    height: 45px;
    width: calc(100% - 15px);
    display: flex;
    align-items: center;
    line-height: 25px;
    font-size: 20px;
    font-weight: 500;
    padding-left: 15px;
}

.standard-square p {
    font-size: 14px;
    color: #5C5C5C;
    letter-spacing: .02em;
    line-height: 23px;
    margin: 15px;
    text-align: justify;
}

#before-dots {
    color: #ED7839;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

#after-dots {
    display: none;
}

#standard-square-buttons button {
    border: none;
    cursor: pointer;
    padding: 20px;
    font-size: 30px;
    background-color: #FFFFFF;
    margin: 10px;
}

#standard-square-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.standard-square h2 {
    text-align: center;
    margin: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #ED7839;
}

#shareBrn::before {
    content: "\270D";
}

#questionBtn::before {
    content: "\2753";
}

#authorBtn::before {
    content: "\1F465";
}

.plus-topic-container button::before {
    content: "\2795";
}

.plus-topic-container button {
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    display: block;
    margin: auto;
    z-index: 1;
}

.plus-topic-container hr {
    width: 95%;
    border: 1px solid #E7E7E7;
    position: absolute;
    top: 50%;
    z-index: -1;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.plus-topic-container {
    position: relative;
}

.sub-standard-square {
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width: 95%;
    display: block;
    margin: auto;
}

.sub-standard-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sub-standard-square h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ED7839;
    margin: 17px;
}

.sub-standard-square h4 {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #5C5C5C;
    margin-left: 17px;
}

.sub-standard-square p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #4D4D4D;
    margin-left: 17px;
}

.sub-standard-network-btn button:last-of-type {
    color: white;
    background-color: #ED7839;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
}

.sub-standard-network-btn button:last-of-type::before{
    content: "\1F90D";
}

.sub-standard-network-btn button:first-of-type {
    color: #ED7839;
    background-color: #FFFFFF;
    border: none;
}

.sub-standard-network-btn button:first-of-type,
.sub-standard-network-btn button:last-of-type {
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 17px;
    padding: 5px;
    margin: 5px;
}

.sub-standard-network-btn a {
    cursor: pointer;
    text-decoration: none;
    color: #757575;
    font-weight: 350;
    font-size: 14px;
    line-height: 19px;
    padding: 5px;
    margin: 5px;
}